
{% extends "layout.html" %}
{% block content %}
<h1>I'm so shiny! &#127925;</h1>

<h2><a target="_blank" rel="noopener noreferrer" href="https://bobbeltje.com/shiny/test">Server test</a></h2>
<p>Check if the server is still up an running</p>
<p>Also testing ground</p>

<h2><a target="_blank" rel="noopener noreferrer" href="https://bobbeltje.com/shiny/pic_show">The picture show!</a></h2>
<p>Explore photos in an interactive world map</p>

<h2><a target="_blank" rel="noopener noreferrer" href="https://bobbeltje.com/shiny/colour">Colour chooser</a></h2>
<p>Pick your favourite colour</p>

<h2><a target="_blank" rel="noopener noreferrer" href="https://bobbeltje.com/shiny/appfli">Appfli!</a></h2>
<p>An awesome data analysis app</p>

{% endblock content %}
